.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba($black, 0.3);
  backdrop-filter: blur(1px);
  transition: opacity 0.5s;

  &.hidden {
    opacity: 0;
    pointer-events: none;

    .modal {
      transform: scale(0);
    }
  }
}

.modal {
  position: relative;
  max-width: 715px;
  width: 100%;
  padding: 30px 20px;
  background-color: $light;
  border-radius: 14px;
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.12);
  transform: scale(1);
  margin: auto;
  height: auto;

  scroll-behavior: smooth;
  transition: transform 0.5s;

  @media (max-width: 768px) {
    width: 95vw;
    // overflow-y: hidden;
  }

  @media (max-width: 576px) {
    margin: 20px auto;
    overflow-y: scroll;
  }


  &__close-btn {
    position: absolute;
    padding: 4px;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.4s,
      background-color 0.4s;

    &:focus {
      border: 1px solid $secondary;
    }

    &:hover {
      background-color: $bg;

      .modal__close-btn-icon {
        fill: $secondary;
      }
    }

    &:active {
      background-color: $primary;

      .modal__close-btn-icon {
        fill: $light;
      }
    }
  }

  &__close-btn-icon {
    fill: $grey;
    transition: fill 0.4s;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
    text-align: left;

    @media (max-width: 576px) {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 16px;
    }
  }

  &__img {
    object-fit: cover;
    border-radius: 14px;
    max-width: 240px;
    width: 100%;
    height: auto;

    @media (max-width: 768px) {
      max-width: 200px;
    }

    @media (max-width: 576px) {
      margin: 0 auto;
    }
  }

  &__info {
    max-width: 405px;
    width: 100%;

    @media (max-width: 576px) {
      max-width: 500px;
    }
  }

  &__last-name {
    font-size: 32px;
    color: $secondary;
    margin-bottom: 4px;

    @media (max-width: 576px) {
      margin-bottom: 0;
    }
  }

  &__first-name {
    font-size: 24px;
    color: $secondary;
    margin-bottom: 12px;
    @media (max-width: 576px) {
      margin-bottom: 4px;
    }

  }

  &__subtitle {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;

    @media (max-width: 576px) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &__text {
    font-size: 16px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__content {
    padding: 10px 30px;
    background-color: $bg;
    border: 1px solid $secondary;
    border-radius: 14px;

    @media (max-width: 576px) {
      padding: 10px;
    }
  }

  &__item {
    display: flex;
    gap: 10px;
    text-align: left;


    &::before {
      content: '';
      display: block;
      margin-top: 8px;
      width: 10px;
      height: 10px;
      background-color: $grey;
      border-radius: 50%;
      flex-shrink: 0;
    }

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}