.logo {
  display: block;
  flex-shrink: 0;
  transition: outline 0.3 ease, opacity 0.3 ease;

  &:focus {
    outline: solid 1px $secondary;
    outline-offset: 4px;
  }

  &:hover {
    outline: solid 1px $secondary;
    outline-offset: 4px;
  }

  &:active {
    opacity: 0.5;
  }
}

.button {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.06rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 18px 36px;
  border-radius: 14px;
  background-color: $accent;
  color: $light;
  transition: box-shadow 0.3s,
    outline 0.4s,
    color 0.2s,
    background-color 0.2s;

  &:hover {
    box-shadow: 3px 3px 8px rgba($dark, 0.4);
  }

  &:focus {
    outline: solid 1px $accent;
    outline-offset: 4px;
  }

  &:active {
    box-shadow: inset 3px 3px 8px rgba($dark, 0.4);
  }

  &--secondary {
    width: fit-content;
    background-color: transparent;
    color: $secondary;
    border: 1px solid $secondary;

    &:focus {
      outline: solid 1px $secondary;
    }

    &:hover {
      color: $light;
      background-color: $accent;
      box-shadow: none;
      border-color: $accent;
    }
  }
}

.filter-btn {
  display: block;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 16px;
  background-color: $light;
  color: $secondary;
  border: 1px solid $secondary;
  border-radius: 70px;

  &:focus {
    outline: solid 1px $secondary;
    outline-offset: 4px;
  }

  &:hover {
    background-color: $accent;
    color: $light;
    border-color: $accent;
  }

  &:active {
    box-shadow: inset 3px 3px 8px rgba($dark, 0.4);
  }


  &.is-active {
    background-color: $accent;
    color: $light;
    border-color: $accent;
  }
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $light;
  transition: color 0.4s, outline 0.4s, box-shadow 0.4s;

  &:focus {
    outline: solid 1px $accent;
  }

  &:hover {
    color: $accent;

    .modal-button__icon {
      fill: $accent;
    }
  }

  &:active {
    color: $accent;
    outline: solid 1px rgba($black, 0.1);
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.12);

    .modal-button__icon {
      fill: $accent;
    }
  }

  &__icon {
    fill: $primary;
    transition: fill 0.4s;
  }
}