$font_main: 'Montserrat',
sans-serif;

$accent: #FF304F;
$primary: #486284;
$secondary: #105DA7;
$dark: #2F303A;
$grey: #9CB0C9;
$grey-dark: #3D4251;



$accent-second: #F29040;
$accent-medium: #EFC983;
$accent-light: #FFEC9B;



$grey-light: #ECECEC;
$light: #fff;
$bg: #F6F9FF;
$dark-second: #212121;
$black: #000000;

$sm: 480px;
$md: 768px;
$xl: 1200px;
