$accent: #FF304F;
$accent-second: #F29040;
$accent-medium: #EFC983;
$accent-light: #FFEC9B;
$primary: #454E59;
$secondary: #105DA7;

$grey-dark: #212121;
$grey-light: #ECECEC;
$light: #fff;
$dark: #2F303A;
$bg: #F5F4FA;
$dark-second: #212121;
$black: #000000;

$sm: 480px;
$md: 768px;
$xl: 1200px;
