.about {
  &__container {
    display: flex;
    gap: 40px;
  }

  &__images {
    background-color: red;
    width: 530px;
    height: 720px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__content {
    max-width: 600px;
    width: 100%;
    text-align: left;
  }
  &__info {
    margin-bottom: 70px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__subtitle {
    color: $secondary;
    margin-bottom: 10px;
  }

  &__item {
    display: flex;
    gap: 10px;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  

    &::before {
      content: '';
      display: block;
      
      border-radius: 100%;
      width: 12px;
      height: 12px;
      left: 0;
      top: 6px;
      background-color: $secondary;
    }
  }
}