.cookies {
  padding-top: 150px;
  text-align: left;

  &__title {
    margin-bottom: 20px;
    font-size: 24px;

  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__headline {
    margin-bottom: 8px;
    font-weight: 500;
  }

  &__text-list {
    padding-left: 40px;
    list-style: inside;
  }

  &__text-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}