.footer {
  text-align: left;
  color: rgba($light, 0.7);
  background-color: $grey-dark;

  &__container {
    padding-top: 50px;

    @media (max-width: 768px) {
      padding-top: 30px;
    }
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__links {
    transition: color 0.3s, outline 0.3s;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  &__logo {
    width: 242px;
    margin-bottom: 20px;

    &:focus {
      outline: solid 1px $grey;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:hover {
      outline: solid 1px $accent;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:active {
      outline: solid 1px $primary;
      outline-offset: 4px;
      border-radius: 4px;
    }
  }

  &__contacts {
    max-width: 420px;
    width: 100%;
  }

  &__contact {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__contact-link {
    display: flex;
    align-items: center;
    transition: outline 0.3s,
      color 0.3s;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &--phone {
      font-size: 36px;

      @media (max-width: 768px) {
        font-size: 28px;
      }
    }

    &:focus {
      outline: solid 1px $grey;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $primary;
    }
  }

  &__contact-icon {
    fill: currentColor;
    margin-right: 10px;
  }

  &__list {
    max-width: 300px;
    width: 100%;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__link {
    transition: outline 0.3s, color 0.3s;

    &:focus {
      outline: solid 1px $grey;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $primary;
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    color: rgba($grey, 0.3);

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 200%;
      height: 1px;
      top: 0;
      left: 50%;
      background-color: rgba($grey, 0.3);
      transform: translateX(-50%);
    }

    @media (max-width: 768px) {
      flex-direction: column;
      font-size: 14px;


    }
  }

  &__bottom-link {
    transition: outline 0.2s,
      color 0.3s;

    @media (max-width: 768px) {
      text-align: right;
    }

    &:focus {
      outline: solid 1px $grey;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $primary;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
  // padding-left: 80px;


  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    transition: outline 0.4s;

    &:focus {
      outline: solid 1px $grey;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:hover {
      .social__icon {
        fill: $accent;
      }
    }

    &:active {
      .social__icon {
        fill: $primary;
      }
    }
  }

  &__icon {
    fill: $light;
    transition: fill 0.3s;
  }
}