.footer {
  text-align: left;
  color: rgba($light, 0.7);
  background-color: $grey-dark;

  &__container {
    padding: 50px 0 0;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
  }

  &__logo {
    width: 242px;
    margin-bottom: 20px;
  }

  &__contacts {
    max-width: 420px;
    width: 100%;
  }

  &__contact {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__contact-link {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &--phone {
      font-size: 36px;
    }
  }

  &__contact-icon {
    fill: currentColor;
    margin-right: 10px;
  }

  &__list {
    max-width: 300px;
    width: 100%;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    color: rgba($grey, 0.3);

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 200%;
      height: 1px;
      top: 0;
      left: 50%;
      background-color: rgba($grey, 0.3);
      transform: translateX(-50%);
    }
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 80px;

  &__icon {
    fill: $light;
  }
}