.hero {
  max-width: 1440px;
  width: 100%;
  margin: 86px auto 0;
  padding: 0 15px 30px;

  &__container {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: calc(50vh + 86px);
    display: flex;
    align-items: flex-end;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;

    @media (max-width: 576px) {
      bottom: 20px;
    }   
  }

  &__content {
    text-align: left;
    max-width: 500px;
    width: 100%;
    padding: 40px;
    background-color: rgba($light, 0.6);
    border-radius: 24px;  

    @media (max-width: 576px) {
      margin: 0 16px 0;
      padding: 16px;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.06em;
    color: $secondary;
    margin-bottom: 30px;

    @media (max-width: 576px) {
      font-size: 32px;
      margin-bottom: 16px;
    }

  }

  &__swiper-slide {
    margin: 0 auto;
    height: calc(50vh + 86px);
    width: 100%;
    border-radius: 24px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--1 {
      background-image: url('../images/decor/slider/slider-1-desktop.webp');
    }

    &--2 {
      background-image: url('../images/decor/slider/slider-1-desktop.webp');
    }

    &--3 {
      background-image: url('../images/decor/slider/slider-1-desktop.webp');
    }

    @media (max-width: 1200px){
      height: calc(40vh + 78px);
    }
  }

  @media (max-width: 576px) {
    padding-bottom: 16px;
  }
}

.swiper-1 {
  width: 100%;
  padding-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.swiper-slide {
  grid-column: 4 span;

}