.news {
  text-align: left;

  &__title {
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 32px;
    }

    @media (max-width: 480px) {
      font-size: 28px;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__image {
    max-width: 470px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;

    &--1 {
      @media (max-width: 992px) {
        order: -1;
      }
    }
  }
}