.price {
  color: $light;
  padding-top: 0;

  &__inner {
    position: relative;
    border-radius: 20px;
    padding: 70px;
    background-color: $secondary;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    z-index: 10;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($secondary, 0.8);
      z-index: -1;
    }

    @media (max-width: 1200px) {
      padding: calc(15px + 3vw) 15px;
    }

  }

  &__title {
    margin-bottom: 10px;
    color: $light;

  }

  &__description {
    margin: 0 auto;
    max-width: 860px;
    width: 100%;
    margin-bottom: 20px;
  }

  &--nopadding {
    padding: 0;
  }
}