<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <div class="footer__content">
        <a class="logo logo--white footer__logo" href="index.html">
          <img class="logo__icon" src="images/logo-icon.svg" width="25" height="25" alt="Logo DolGuldur">
          <img class="logo__img" src="images/logo-white.svg" width="100" height="24" alt="Logo DolGuldur">
        </a>
        <address class="footer__info">
          <ul class="footer__contacts">
            <li class="footer__item">
              <a class="footer__link footer__link--white" href="#">
                14 Green St., Belmont, Boston. USA
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="mailto:info@dolguldur.com">
                info@dolguldur.com
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="tel:+380961111111">
                +38 099 111 11 11
              </a>
            </li>
          </ul>
        </address>
      </div>

      <div class="footer__content">
        <h2 class="footer__title">
          join
        </h2>
        <ul class="social">
          <li class="social__item">
            <a class="social__link social__link--white" href="works.html">
              <svg class="social__icon" width="20" height="20">
                <use href="images/symbol-defs.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--white" href="index.html">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#twitter"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link social__link--white" href="index.html">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#facebook"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link social__link--white" href="index.html">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#linkedin"></use>
              </svg>
            </a>
          </li>

        </ul>
      </div>

      <div class="footer__content">
        <h2 class="footer__title">
          Subscribe
        </h2>
        <form class="form-subscribe" action="#">
          <label class="sr-only" for="subscribe-mail">
            Your email
          </label>
          <input class="form-subscribe__input" id="subscribe-mail" type="email" placeholder="E-mail" name="email"
            required>
          <button class="button button--icon form-subscribe__buttom " type="submit">
            Subscribe
            <svg class="button__icon" width="24" height="24">
              <use href="images/symbol-defs.svg#icon-button-icon"></use>
            </svg>
          </button>
        </form>

      </div>
    </div>
  </div>
</footer>