<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo header__logo" href="index.html">
        <img class="logo__icon" src="images/logo-icon.svg" width="30" height="30" alt="Icon DolGuldur">
        <img class="logo__img" src="images/logo.svg" width="149" height="36" alt="Logo DolGuldur">
      </a>

      <button class="header__burger modal-button" type="button">
        <span class=" sr-only">Open menu</span>
        <svg class="modal-button-icon" width="44" height="44">
          <use href="./images/symbol-defs.svg#icon-open-menu"></use>
        </svg>
      </button>

      <div class="header__content">
        <nav class="header__menu">
          <ul class="header__list">
            <li class="header__item">
              <a class="header__link @@home" href="index.html">
                Home
              </a>
            </li>
            <li class="header__item">
              <a class="header__link @@works" href="works.html">
                Our Works
              </a>
            </li>
            <li class="header__item">
              <a class="header__link @@contacts" href="#">
                Contacts
              </a>
            </li>

          </ul>
        </nav>
        <div class="header__info">
          <a class="header__info-link" href="tel:+380961111111">
            <svg class="header__info-icon" width="16" height="16">
              <use href="./images/symbol-defs.svg#smartphone"></use>
            </svg>
            +38 096 111 11 11
          </a>

          <a class="header__info-link" href="mailto:info@dolguldur.com">
            <svg class="header__info-icon" width="16" height="16">
              <use href="./images/symbol-defs.svg#envelope"></use>
            </svg>
            info@dolguldur.com
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu">
    <nav class="mobile-menu__menu">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link @@home" href="index.html">
            Home
          </a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link @@works" href="works.html">
            Our Works
          </a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link @@contacts" href="#">
            Contacts
          </a>
        </li>

      </ul>
    </nav>
    <div class="mobile-menu__bottom">
      <ul class="mobile-menu__contact">
        <li class="mobile-menu__contact-item">
          <a class="mobile-menu__contact-link" href="tel:+380961111111">
            +38 096 111 11 11
          </a>
        </li>
        <li class="mobile-menu__contact-item">
          <a class="mobile-menu__contact-link" href="mailto:info@dolguldur.com">
            info@dolguldur.com
          </a>
        </li>
      </ul>

      <ul class="mobile-menu__social">
        <li class="mobile-menu__social-item">
          <a class="mobile-menu__social-link" href="#">
            Instagram
          </a>
        </li>
        <li class="mobile-menu__social-item">
          <a class="mobile-menu__social-link" href="#">
            Twitter
          </a>
        </li>
        <li class="mobile-menu__social-item">
          <a class="mobile-menu__social-link" href="#">
            Facebook
          </a>
        </li>
        <li class="mobile-menu__social-item">
          <a class="mobile-menu__social-link" href="#">
            LinkedIn
          </a>
        </li>
      </ul>
    </div>

    <button class="mobile-menu__button modal-button" type="button">
      <span class=" sr-only">Close menu</span>
      <svg class="modal-button__icon" width="22" height="22">
        <use href="./images/symbol-defs.svg#icon-close-menu"></use>
      </svg>
    </button>
  </div>
</header>