<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo header__logo" href="index.html">
        <img class="logo__img" src="./images/logo.svg" width="220" height="70" alt="Логотип Сімейной стоматології">
      </a>
      <div class="burger">
        <span class="burger__line"></span>
      </div>
      <nav class="nav">
        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link @@home" href="index.html">
              Головна
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link @@about" href="about.html">
              Про клініку
            </a>
          </li>
          <li class="menu__item">
            <button class="menu__link menu__btn " type="button">
              Послуги
              <svg class="menu__btn-icon" width="24" height="24" viewBox="0 0 24 24">
                <use href="./images/symbol-defs.svg#icon-chevron"></use>
              </svg>
            </button>
            <div class="dropdown">
              <ul class="dropdown__list">
                <li class="dropdown__item">
                  <a class="dropdown__link" href="kids-dental.html">
                    Дитяча стоматологія
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="kids-dental.html">
                    Терапевтична стоматологія
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="kids-dental.html">
                    Протезування
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="kids-dental.html">
                    Хірургія
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="kids-dental.html">
                    Ортодонтія
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="kids-dental.html">
                    Паронтологія
                  </a>
                </li>


              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link @@contacts" href="contacts.html">
              Контакти
            </a>
          </li>
        </ul>
        <button class="button nav__button" type="button">
          Записатись
        </button>
      </nav>
    </div>
</header>