<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo nav__logo" href="index.html">
        <img class="logo__img" src="./images/logo.svg" width="220" height="70" alt="Логотип Сімейной стоматології">
      </a>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link @@home" href="index.html">
            Головна
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link @@works" href="works.html">
            Послуги
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link @@contacts" href="#">
            Прайс
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link @@contacts" href="#">
            Контакти
          </a>
        </li>
      </ul>
      <button class="button nav__button" type="button">
        Записатись
      </button>
    </nav>
  </div>
  <!-- <div class="mobile-menu">
    <nav class="mobile-menu__menu">
      <ul class="mobile-menu__list">
         <li class="header__item">
           <a class="header__link @@home" href="index.html">
             Головна
           </a>
         </li>
         <li class="header__item">
           <a class="header__link @@works" href="works.html">
             Послуги
           </a>
         </li>
         <li class="header__item">
           <a class="header__link @@contacts" href="#">
             Прайс
           </a>
         </li>
         <li class="header__item">
           <a class="header__link @@contacts" href="#">
             Контакти
           </a>
         </li>
      </ul>
    </nav>
    <div class="mobile-menu__bottom">
      <button class="button" type="button">
        Записатись
      </button>
    </div>

    <button class="mobile-menu__button modal-button" type="button">
      <span class=" sr-only">Close menu</span>
      <svg class="modal-button__icon" width="22" height="22">
        <use href="./images/symbol-defs.svg#icon-close-menu"></use>
      </svg>
    </button>
  </div> -->
</header>